<!DOCTYPE html>
<html>
	<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css"  href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="stylesheets/styleHome.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="js/jquery.easydropdown.js"></script>
	<script src="js/scripts.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJW4jsPlNKgv6jFm3B5Edp5ywgdqLWdmc&sensor=false async defer"></script>
	</head>
  <body>
	<div class="banner-bg banner-bg1">	
	  <div class="container">
			 <div class="header">
				  <div class="top-nav">										 
					   <ul class="nav">
						 <a class="shop" href="/login">LOG IN/SIGN UP</a>
						 <a class="shop" href="/products">PRODUCT</a>
						 <a class="shop" href="/profile">My ACCOUNT</a>
						 <a class="shop" href="/cart"><img src="images/cart.png" alt=""/></a>
					  </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
	  </div>	 
	 <div class="caption">
		 <div class="slider">
		 	<div class="callbacks_container">
		 		<ul class="rslides" id="slider">
		 			<li><h1>Click Below To See The Latest Products</h1></li>
				</ul>
				<a class="morebtn" href="/products">SHOP YOUR FAVORITE</a>
			</div>
		</div>
	 </div>
	 <div class="dwn">
		<a class="scroll" href="#cate"><img src="images/scroll.png" alt=""/></a>
	 </div>				 
</div>
	<hr />
	<div id="cate" class="categories">
		 <div class="container">
			 <h3>CATEGORIES</h3>
			 <div class="categorie-grids">
				 <a href="/products"><div class="col-md-4 cate-grid grid1">
					 <a class="store" href="/products">GO TO STORE</a>
				 </div></a>
				 <a href="/products"><div class="col-md-4 cate-grid grid2">
					 <a class="store" href="/products">GO TO STORE</a>
				 </div></a>
				 <a href="/products"><div class="col-md-4 cate-grid grid3">
					 <a class="store" href="/products">GO TO STORE</a>
				 </div></a>
				 <div class="clearfix"></div>
			 </div>
		 </div>
	</div>
	</div>
			<div class="footer_bottom">
				<div class="copy">
					<p>Copyright © 2020</p>
				</div>
</body>
</html>

