.banner-sec{
	background:url(../images/bg.jpg) no-repeat;
	background-size:cover;
	min-height:300px;
}

.banner-bg{
	position:relative;
}

.top-nav{
	float:right;
  margin-top: 0px;
 
}

.nav a {
   padding: 0.5em 1em 1em 1em;
   float: left;
  display: block;
  color:white;
  margin: 0;
  font-size: 15px;
  font-weight:500;
  text-transform: uppercase;
  border: none;
  letter-spacing: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  background: none;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

a.shop{
	display:inline-block;
	float:left;
	margin:9px 0 0 30px;
	color: white;
}

a.shop:hover
{
  background:navy;
	color:white;
}
